body {
    background: url('images/background.jpg') no-repeat center center/cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    margin-top: 20vh;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#yes-btn {
    background: url('images/yes-face.jpg') no-repeat center center/cover;
    color: white;
}

#no-btn {
    background: url('images/no-face.jpg') no-repeat center center/cover;
    color: white;
}